ul{
    margin: 0 1rem;
    border-top: 1px solid #ddd;
    li{
        padding: 1rem 0; border-bottom: 1px solid #ddd;
        display: flex;
        img{
            width: 15%; height: 12rem; border-radius: .5rem;
        }
        div{
            width: 85%; display: flex; align-items: center;
            h4{
                width: 40%;
                margin-left: 5rem;
                font-size: 2rem; color: #000; font-weight: bold;
            }
            p{
                width: 30%;
                position: relative; top: .2rem; margin-left: 3rem; 
                font-size: 1.4rem; color: #999; font-weight: bold;
            }
            span{
                width: 20%;
                font-size: 1.4rem; color: #999;
            }
            button{
                width: 10%; 
                background: none; cursor: pointer;
                font-size: 2.5rem; color: #f00;
            }
        }
    }
}
.totalPrice{
    float: right; margin: 2rem 1rem 0 0;
    font-size: 2.2rem; color: #777; font-weight: bold;
}