ul{
    li{
        padding: 1rem 0; border-bottom: 1px solid #ddd;
        display: flex;
        img{
            height: 12rem; border-radius: .5rem;
        }
        div{
            display: flex; align-items: center;
            p{
                margin-left: 3rem;
                font-size: 2rem; color: #000; font-weight: bold;
            }
            span{
                position: relative; top: .2rem; margin-left: 3rem; 
                font-size: 1.4rem; color: #999; font-weight: bold;
            }
        }
    }
}