.itemWrap{
    font-size: 0;
    li{
      margin-bottom: 2rem; padding: .5rem 1rem; 
      width: 25%; display: inline-block; text-align: center;
      box-sizing: border-box; cursor: pointer;
      &:hover{
        em{
          img{
            transform: scale(1.05);
          }
        }
      }
      em{
        overflow: hidden; display: block; width: 100%; border-radius: .5rem .5rem 0 0;
        img{
          width: 100%; transition: all .5s;
        }
      }
      div{
        padding: 1rem 0;
        background: #fff; border-radius: 0 0 .5rem .5rem;
        p{
          margin-bottom: 1rem;
          font-size: 1.8rem; color: #000; font-weight: bold;
        }
        span{
          font-size: 1.6rem; color: #999; font-weight: bold;
        }
      }
    }
  }