header{
    background: #42b883; height: 6rem;
    .headerWrap{
        margin: 0 auto; 
        width: 118rem; height: 100%;
        display: flex; justify-content: space-between; align-items: center;
        h1{
            a{
                display: block; line-height: 6rem;
                font-size: 2.5rem; font-weight: bold; color: #fff;
            }
        }
        button{
            font-size: 2.5rem; color: #fff; background: none;
            cursor: pointer; 
        }
    }
}