.itemContainer{
    width: 120rem; margin: 0 auto;
    .itemWrap{
        margin-left: 1rem;
        h1{
            margin-top: 1rem;
            font-size: 2.5rem; color: #000;
        }
        div{
            margin-top: 1rem;
            font-size: 1.5rem; font-weight: bold; color: #777;
        }
    }
    .commentWrap{
        margin: 5rem 0 0 1rem;
        h2{
            font-size: 2rem; color: #000;
        }
    }
}