.container{
    height: calc(100vh - 6rem); display: flex; flex-direction: column; justify-content: center; align-items: center;
    h1{
        margin: 2.5rem 0;
        font-size: 2.2rem; color: #000;
    }
}