.container{
    margin: 0 auto; width: 120rem;
    .searchWrap{
      margin: 2.5rem 0; text-align: center;
    }
    h1{
      margin: 2rem 0 2rem 1rem;
      font-size: 2.2rem; color: #000;
    }
  }