.container{
    margin: 0 auto; width: 120rem;
    h1{
      margin: 2rem 0 2rem 1rem;
      font-size: 2.2rem; color: #000;
    }
    p{
        margin: 0 0 2rem 1rem;
        font-size: 2rem; color: #999;
    }
  }