header{
    background: #42b883; height: 6rem;
    .headerWrap{
        margin: 0 auto; 
        width: 120rem; height: 100%;
        display: flex; justify-content: space-between; align-items: center;
        h1{
            a{
                display: block; line-height: 6rem;
                font-size: 2.5rem; font-weight: bold; color: #fff;
            }
        }
        nav{
            li{
                display: inline-block;
                &:last-child a{
                    padding-right: 0;
                }
                a{
                    padding: 0 1rem; display: block; line-height: 6rem;
                    font-size: 1.6rem; color: #fff;
                }
            }
        }
    }
}