li{
    margin-top: 1rem; padding: 1rem; box-sizing: border-box;
    border: 2px solid #999;
    .userInfo{
        display: flex; align-items: center;
        p{
            font-size: 5rem; color: #000;
        }
        div{
            margin-left: 1rem;
            a{
                font-size: 1.6rem; font-weight: bold; color: #000; transition: all .5s;
                &:hover{
                    color: #42b883;
                }
            }
            span{
                font-size: 1.4rem; font-weight: bold; color: #999;
                display: block;
            }
        }
    }
    .content{
        margin: 1rem 0 0 1rem;
        font-size: 1.6rem; color: #000; font-weight: bold;
    }
}