header{
    background: #42b883; height: 6rem;
    .headerWrap{
        display: flex; justify-content: space-between; align-items: center;
        margin: 0 auto; width: 120rem; height: 100%;
        h1{
            a{
                display: block; 
                line-height: 6rem; font-size: 2.2rem; color: #fff;
            }
        }
        nav{
            ul{
                font-size: 0;
                li{
                    display: inline-block; 
                    &:last-child a {
                        padding-right: 0;
                    }
                    a{
                        display: block; padding: 0 1rem; line-height: 6rem;
                        font-size: 1.6rem; font-weight: bold; color: #fff;
                    }
                }
            }
        }
    }
}