div{
    text-align: center;
    h1{
        font-size: 3rem; font-weight: bold; color: #000;
    }
    img{
        margin-top: 2rem;
        height: 12rem;
    }
    .numberWrap{
        p{
            margin: 2rem auto 0;
            width: 8rem; height: 8rem; border: 2px solid #000; border-radius: 50%;
            font-size: 2rem; line-height: 8rem; color: #000;
        }
        button{
            margin: 2rem .5rem 0;
            width: 8rem; height: 3.5rem; background: #42b883; border-radius: 1.5rem;
            font-size: 1.4rem; font-weight: bold; color: #fff; line-height: 3.5rem;
            cursor: pointer;
        }
    }
}
