li{
    height: 6rem; border-bottom: 1px solid #ddd;
    button{
        background: none; cursor: pointer; transition: all .5s;
    }
    .itemWrap{
        height: 100%; display: flex; align-items: center;
        .checkWrap{
            width: 5%; text-align: center;
            button.xi-checkbox-blank{
                font-size: 2.5rem; color: #000; line-height: 6rem;
            }
        }
        .titleWrap{
            width: 90%;
            h4{
                font-size: 1.8rem; color: #222;
            }
        }
        .buttonWrap{
            width: 5%;  text-align: center;
            button{
                font-size: 2.5rem; color: rgb(255, 0, 0);
                &:hover{
                    color: rgba(255, 0, 0 , .5);
                }
            }
        }
    }
}