div{
    text-align: center;
    .turnWrap{
        margin-top: 2rem;
        font-size: 2rem; color: #000;
        strong{
            margin-right: .5rem;
        }
    }
    .resultWrap{
        margin-top: 1.5rem;
        font-size: 1.6rem; color: #000;
    }
}